/* Content Cities */ --> CSS
.content-cities {
    width: 100%;
    height: 700px;
    background-color: rgb(240, 240, 240);
  }
  
  .content-cities .max-width {
    display:flex;
    flex-direction: column;
    /* align-items điều khiển theo trục phụ  */
    /* Trục chính/trục phụ xác định thế nào ?  */
    align-items: center;
  }
  
  hr {
    background-color:orange;
    width: 100px;
    height: 4px;
    margin: 40px 0px;
  }
   
  .cities-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between; 
  }
  
  
  .cities-list .city-item {
    width: 23%;
    height: 300px;
  }
  
  
  .cities-list .city-item img {
    width: 100%;
    height: 55%;
  }
  
  
  .cities-list .city-item .city-content {
    width: 100%;
    height: 45%;
    color: #7d7373;
  }
  
  .cities-list .city-item .city-content h3 {
    text-transform: uppercase;
  }
  
  .cities-list .city-item .city-content .description {
    padding-left: 8px;
  }
  
  .cities-list .city-item .city-content .description .description-item a,i {
      color: #d49a2f;
  }
  
  
  .content-cities .max-width .customer-group {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between
  }
  
  .content-cities .max-width .customer-group img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }   
        
        
        
        
        
      