body{
    background-image: url(./background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;

}
.header{
    display: flex;
    flex-direction: row-reverse ;
    justify-content: space-evenly !important;
    position: relative;
    margin-left: 250px;
    margin-top: -70px;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.logo{
    margin-right: -100px;
    margin-left: 220px;
    margin-top: 45px;
}
.Hello{
   margin-top: 150px;
   margin-left: 200px;
   margin-bottom: -30px;
   font-size: 22px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: aliceblue;
   
}
.button{
    margin-left: 220px;
    margin-top: 45px;
}
.button button{
    border-radius: 15px;
    padding: 5px 25px;
    border-color: orange;
    color: orange;
    background-color: azure;
}
.button button:hover{
    background-color: orange;
    color: aliceblue;
}







/* .button-1 button {
    margin-left: 220px;
    background-color: orange;
    color: aliceblue;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    border-color: orange;
    border: none;
    margin-top: 30px;
    margin-right: 1180px
    
}
.button-2 button{
    margin-left: 380px;
    border-color: orange;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    color: rgb(255,140,0);
} */